<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arthur Browser</title>
  </head>
  <link rel="stylesheet" href="http://eu-central-1-arthur-misc-data.s3.amazonaws.com/Http-Listener-Data/css/homepage.css">
  <!-- <link rel="stylesheet" href="homepage.css">  -->
  
  <body class="arthur-homepage">

    <ul class="page-shortcuts">
        #{content}
    </ul>

  </body>
</html>
